<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RRD tag view</title>
    <!--<link rel="stylesheet" href="/static/css/pure-min.css" />-->
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript">
        function ajax_worker()
        {
            $.get('/api/get?tag={{ tag }}', function(data)
            {
                $('#value').html(data.value);
                setTimeout(ajax_worker, 5000);
            });
        }

        function init()
        {
            ajax_worker();
        }
    </script>
</head>
<body onload="init();">
<table cellspacing="40">
    <tr>
        <td align="center">{{ tag }}</td>
        <td align="center" id="value"></td>
    </tr>
</table>
</body>
</html>