<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RRD list</title>
    <link rel="stylesheet" href="/static/css/table_bisque.css" />
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript">
        // refresh with ajax
        function ajax_worker()
        {
            // do ajax request
            $.ajax({
                async: "true",
                type: "GET",
                url: "/api/get_all.json",
                success: function( result ) {
                    $.each(result, function(i, val) {
                        $("#tag_value_" + i).html(val.value.toFixed(2));
                        $("#tag_update_" + i).html(val.update_str);
                    });
                }
            });
            // refresh after 5000 ms
            setTimeout(ajax_worker, 5000);
        }
        // init on load
        $(ajax_worker())
    </script>
</head>
<body>
<table class="pure-table pure-table-bordered" width="100%">
<tr>
    <th>Tag</th>
    <th>Value</th>
    <th>Update</th>
    <th>Graph</th>
    <th>CSV</th>
    <th>Json</th>
</tr>
{% for tag in tags %}
<tr>
    <td align="center">{{ tag }}</td>
    <td align="center"><p id="tag_value_{{ tag }}"></p></td>
    <td align="center"><p id="tag_update_{{ tag }}"></p></td>
    <td align="center"><a href="/view/chart_js?tag={{ tag }}" target="_blank"><img src="/static/img/gnome-monitor.svg"></a></td>
    <td align="center"><a href="/api/get.csv?tag={{ tag }}" target="_blank"><img src="/static/img/gnome-csv.svg"></a></td>
    <td align="center"><a href="/api/get_last.json?tag={{ tag }}" target="_blank"><img src="/static/img/gnome-find.svg"></a></td>
</tr>
{% endfor %}
</table>
</body>
</html>