<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>RRD graph {{ tag }}</title>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript">
        function chart_load(size)
        {
            img_path = '/charts/tag/{{ tag }}/1.png'
            $('#imgChart').attr('src', img_path + '?size=' + size + '&_nocache=' + new Date().getTime());
        }
        // call on load
        $(function init() {
            chart_load(360);
        });
    </script>
</head>
<body>
<table>
    <tr>
        <td align="center" colspan="4">plot RRD {{ tag }} (with matplotlib)</td>
    </tr>
    <tr>
        <td align="center" colspan="4"><img src="" id="imgChart"></td>
    </tr>
    <tr>
        <td align="center"><button onclick="chart_load(360)">360 samples</button></td>
        <td align="center"><button onclick="chart_load(720)">720 samples</button></td>
        <td align="center"><button onclick="chart_load(1440)">1440 samples</button></td>
        <td align="center"><button onclick="chart_load(0)">full samples</button></td>
    </tr>
</table>
</body>
</html>